In [14]:
import urllib.request
import pandas as pd
import requests
import io
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.linear_model import LogisticRegression
from matplotlib import pyplot

In [15]:
hsb2 = pd.read_csv("C:\\Users\\Admin\\Desktop\\Vaishnavi\\Auto\\iris.csv")

In [16]:
hsb2.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
hsb2.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [5]:
hsb2["Cost"] = hsb2["Cost"].astype('int64')
hsb2["Cost"] = hsb2["Cost"].astype('int64')
hsb2["Cost"] = hsb2["Cost"].astype('int64')
hsb2["Cost"] = hsb2["Cost"].astype('int64')
hsb2["Cost"] = hsb2["Cost"].astype('int64')

In [6]:
hsb2.dtypes

Person No.    int64
Mode          int64
Time          int64
Cost          int64
Choice        int64
dtype: object

In [7]:
hsb3 = hsb2

In [8]:
hsb3.head()

   Person No.  Mode  Time  Cost  Choice
0           1     1    15     7       1
1           1     2    30     0       0
2           1     3    20     3       0
3           2     1    10     7       0
4           2     2    15     0       1

In [9]:
y = hsb3['Choice']
X = hsb3.drop(['Person No.','Mode','Choice'],axis=1)

In [12]:
import pandas as pd
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np


h = .02

logreg = linear_model.LogisticRegression(C=1e5)

logreg.fit(X, y)

# print the coefficients
print(logreg.intercept_)
print(logreg.coef_)

[0.49815094]
[[-0.05286475 -0.03497586]]

In [13]:
data(iris)

NameError: name 'data' is not defined